/*  your css code here. If applicable */
.verification_heading, .verification_subtext {
	text-align: center;
}

.code-container {
	width: 90%;
	display: flex;
	gap: 10px;
	margin: auto;
	overflow: hidden;
}

.code {
	width: 16%;
	height: 100px;
	border: 1px solid lightgray;
	border-radius: 4px;
	text-align: center;
	font-size: 40px;
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari */
  margin: 0; /* Remove margin */
}

.code:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

